<a href="https://colab.research.google.com/github/josephhalejr/Sales/blob/main/Copy_of_josephhale_filtering34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
('/content/RailsToTrails_National Count Data_week (7) (2) (1).xlsx')

'/content/RailsToTrails_National Count Data_week (7) (2) (1).xlsx'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bike_df = ('/content/RailsToTrails_National Count Data_week (7) (2) (1).xlsx')

In [ ]:
bike_df = pd.read_excel(bike_df)

In [ ]:
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
bike_df.tail()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[5 rows x 10 columns]

In [ ]:
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

ModuleNotFoundError: ignored